<!DOCTYPE html>
<html lang="en" >

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="NYC - A Taxi's Tale">
    <meta name="author" content="Trevor Rempel">
    <link rel="shortcut icon" href="static/ico/favicon.png">

    <title>NYC - A Taxi's Tale</title>
    <link rel="apple-touch-icon" sizes="76x76" href='static/img/nyc_cab_logo.jpg'>
    <link rel="icon" type="image/png" sizes="96x96" href='static/img/nyc_cab_logo.jpg'>


    <!-- Bootstrap core CSS -->
    <link href="static/css/bootstrap.css" rel="stylesheet">




    <!-- Custom styles for this template -->
    <link href="static/css/main.css" rel="stylesheet">
    <link rel="stylesheet" href="static/css/icomoon.css">
    <link href="static/css/animate-custom.css" rel="stylesheet">




    
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>
    
    <script src="static/js/jquery.min.js"></script>
	<script type="text/javascript" src="static/js/modernizr.custom.js"></script>

	





    

    

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link src = "https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/7.1.0/css/bootstrap-slider.css"></script>
    <link src = "https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/7.1.0/css/bootstrap-slider.min.css"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/7.1.0/bootstrap-slider.js"></script>
	
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/7.1.0/bootstrap-slider.min.js"></script>
	<!-- <style type="text/css">
		   body { background: black !important; } /* Adding !important forces the browser to overwrite the default style applied by Bootstrap */
		 </style> -->

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/css/bootstrap-select.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/js/bootstrap-select.min.js"></script>

<!-- (Optional) Latest compiled and minified JavaScript translation files -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/js/i18n/defaults-*.min.js"></script>

	<style>
	      html, body {
	        height: 100%;
	        width: 100%;
	        margin: 10;
	        padding: 10;
	      }

	      #map {
	        height: 75%;
	        width: 75%;
	        vertical-align: middle;
	        text-align: center;
	        background-color: #000
	      }
	      #map2 {
	        height: 75%;
	        width: 75%;
	        vertical-align: middle;
	        text-align: center;
	        background-color: #000
	      }

	      #map3 {
	        height: 75%;
	        width: 75%;
	        vertical-align: middle;
	        text-align: center;
	        background-color: #000
	      }

	      #select-input {
    			text-align: center;	
    			form-inline: margin:5px 3px;

			}
		#select-club {
    			text-align: center;	
    			form-inline: margin:5px 3px;

			}
    </style>
    <style type="text/css">
    .btn:focus {
  		outline: #f7b731;
  		border-color: #f7b731;
  		/*background-color:#000000;
  		color:#f7b731;*/
	}
	 /*body { background: #f7b731 !important; }*/
	</style>


		<style type="text/css">
			div#map { margin: 0 auto 0 auto; }
			div#map2 { margin: 0 auto 0 auto; }
			div#map3 { margin: 0 auto 0 auto; }
		</style>



  </head>

  <body data-spy="scroll" data-offset="0" data-target="#navbar-main">
  
	<div id="get">
			{% if scroll %}
			<script>
			    document.location.hash = '#' + '{{ scroll |safe}}';
			</script>
			{% endif %}
	</div>
  
  	<div id="navbar-main">

      <!-- Fixed navbar -->
   	  <div class="navbar navbar-inverse navbar-fixed-top">

        <div class="container">

          <div class="navbar-header">

            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">

            <span class="icon icon-map" style="font-size:30px; color:#f7b731;"></span>

          	</button>

            <a class="navbar-brand hidden-xs hidden-sm" href="#home">
             <span class="icon icon-map" style="font-size:18px; color:#f7b731;"></span>
            </a>
          </div>

          <div class="navbar-collapse collapse">

            <ul class="nav navbar-nav">

              <li><a href="#home" class="smoothScroll">Home</a></li>
              <li> <a href="#heartbeat" class="smoothScroll">Heartbeat of City</a></li>
			  <li> <a href="#dbscan" class="smoothScroll"> Drivers</a></li>
			  <li> <a href="#popularity" class="smoothScroll"> Consumers</a></li>
			  <!-- <li> <a href="#average" class="smoothScroll">NYC on Average</a></li> -->
			  <li> <a href="#explain" class="smoothScroll">DBScan</a></li>
			  <li> <a href="#contact" class="smoothScroll"> Contact</a></li>

		     </ul>

           </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
  
		<!-- ==== HEADERWRAP ==== -->
	<div id="headerwrap" id="home" name="home">

	  <header class="clearfix">

	    <h1><span class = "icon" >NYC - A Taxi's Perspective</span></h1>

	   </header>	    
	 </div><!-- /headerwrap -->

		<!-- ==== GREYWRAP ==== -->
	

    <div  id="heartbeat" name="heartbeat">
    	<br>
		<hr>
		<br>

	  <div id="greywrap">
			
	    <div class="row white" >

		  <center>
		    <div >

			  <span class="icon icon-play"></span>
			    <h2>NYC's Heartbeat</h2>

			       <p>See the concentration of dropoffs change over the course of a day</p>

			</div>
		  </center>
				
	     </div>
			
	   </div>

    </div>


    <span id = "blackwrap">
      <center>
      <div style="width:100%; height:100%; background-image:url('static/img/video_back.jpg'); background-repeat: no-repeat; background-size:cover"> 
	    <video width="750" height="500" controls loop>

          <source src="static/clips/taxi_half.mp4" type="video/mp4">
  
           Your browser does not support the video tag.

         </video>
         </div>
      </center>
    </span>

   

     <div  id="dbscan" name="dbscan">
     	<br>

     	<br>

	   <div id="greywrap">
			
	    <div class="row white">

			<center>
			   <div>
				  <span class="icon icon-location"></span>

					<h2>For Drivers</h2>	
					<p>Where is the probability of a pick-up the highest?</p>

			    </div>
			</center>
	
		</div>

	   </div>

      </div>


<div id = "premap"></div>

    <span>


  	<br>
		<hr>
		<br>


      <div id="map" style="width: 90%; height: 100% margin: 0 auto;" class = "icon"></div>
 
  	
        
      	
          <form id='select-input' method='post' action='index' class = "form-inline">

			    
				<div class="form-group">
				    
				    <!-- <label>Month</label>
				     -->
				      <select class = "selectpicker form-control" name='month' title = "Month" data-size = "7"> 
	                		  {% for m in month_list %}
	                		{% if m == month %}
                		   <option value = "{{month}}"  selected>{{month}}</option>
                			{% else%}
                			<option value = "{{m}}" >{{m}}</option>
                			{% endif %}
	                			
	                		
	                		   {% endfor %}
	                	</select>
			  		</div>

			  
			    
				    <div class="form-group">
				    
				    <!-- <label>Weekday</label> -->
			
				      <select class = "selectpicker form-control" name='day' title = "Weekday" data-size = "7">
                		   {% for d in day_list %}
                		   {% if d == day %}
                		   <option value = "{{d}}"  selected>{{d}}</option>
                			{% else%}
                			<option value = "{{d}}" >{{d}}</option>
                			{% endif %}
                		   {% endfor %}
                	      </select>
				    </div>

				 
				    <div class="form-group">
				    <!-- <label>Time</label> -->
				    
				      <select class = "selectpicker form-control" name='time' title = "Time" data-size = "7" dropupAuto = "false">
                		{% for t in time_list %}
                			{% if t == time %}
                		   <option value = "{{t}}"  selected>{{t}}</option>
                			{% else%}
                			<option value = "{{t}}" >{{t}}</option>
                			{% endif %}
                			
                			
                		{% endfor %}
                	  </select>
				    </div>

				   
				    	<button class="btn btn-default" type='submit' value='Tips' >Submit</button>
				
			
                
       
          </form>
          
        
      
    </span>
   	
   	<div>
	  <center>
		<p>
		Using data from pick-ups in 2015 we implemented a DBScan clustering algorithm, grouping by the Borough, as well as the date, since a disproportionate number of pick-ups occur in Manhattan, approximately 82%. We also used different clustering criteria for Manhattan since drop-offs occur within closer proximity of each other.
		</p>
	  </center>
	</div>

		<!-- ==== ABOUT ==== -->
		
			<!-- <div class="row white">
			<br>
				<h1 class="centered">A LITTLE ABOUT OUR AGENCY</h1>
				<hr>
				
				<div class="col-lg-6">
					<p>We believe ideas come from everyone, everywhere. In fact, at BlackTie, everyone within our agency walls is a designer in their own right. And there are a few principles we believe—and we believe everyone should believe—about our design craft. These truths drive us, motivate us, and ultimately help us redefine the power of design. We’re big believers in doing right by our neighbors. After all, we grew up in the Twin Cities and we believe this place has much to offer. So we do what we can to support the community we love.</p>
				</div><!-- col-lg-6 -->
				
				<!-- <div> -->
				<!-- col-lg-6 -->
		
		
		<!-- ==== SECTION DIVIDER1 -->

		<!-- <section class="section-divider textdivider divider1">
			<div class="container">
				<h1>DESIGN EXPAND BOUNDARIES</h1>
				<hr>
				<p>To achieve real change, we have to expand boundaries. Because the Wild West of what-could-be is unexplored but rife with opportunity.</p>
			</div><!-- container 
		</section><!-- section
		 -->
		
		
 
		<!-- ==== SERVICES ==== -->
		<div  id="popularity" name="popularity">
		  <div id="greywrap">
			
		    <div class="row white" >
				<center>
				  <div>

					<span class="icon icon-bubbles"></span>
					<h2>For Consumers</h2>
					<p>Collection of 190 nightclubs categorized by number of dropoffs</p>

				  </div>
				</center>
				
			</div>
		  </div>
		</div>
		<br>
		<hr>
		<br>
		<div id="map2" style="width: 90%; height: 100% margin: 0 auto;" class = "icon"></div>
		<!-- <div class="container"  name="services">
			<br>
			<br>
			<div class="row">
				<h2 class="centered">ONE BRAND, ONE VOICE.</h2>
				<hr>
				<br>
				<div class="col-lg-offset-2 col-lg-8">
					<p>Employees and consumers. Two halves of a brand’s entirety, the whole of a brand’s audience. Sometimes these two halves have very different viewpoints, creating a weak spot in the brand story. Weakness tarnishes credibility. Brands that aren’t credible aren’t viable.
					</p>
					<p>We squash weakness by designing the whole brand story. It’s crafted around the truism held by employees and consumers to create an experience that connects from the inside out.</p>
					<p>By being true to the brand we represent, we elevate the audiences’ relationship to it. Like becomes love becomes a passion. Passion becomes advocacy. And we see the brand blossom from within, creating a whole story the audience embraces. That’s when the brand can truly flex its muscles.</p>
				</div><!-- col-lg
			</div><!-- row
			
			<div class="row">
				<h2 class="centered">MOBILE FIRST THINKING, ALWAYS.</h2>
				<hr>
				<br>
				<div class="col-lg-offset-2 col-lg-8">
					<img class="img-responsive" src="static/img/iphone.png" alt="">
				</div><!-- col
			</div><!-- row -->
		<!-- </div> -->
		<!-- container --> 
  		

		<!-- ==== SECTION DIVIDER2 -->
		<!-- <section class="section-divider textdivider divider2">
			<div class="container">
				<h1>DESIGN IS AN INTERACTION</h1>
				<hr>
				<p>To develop a deeper and more meaningful connection with consumers, we believe design must invite them to take part in the conversation.</p>
			</div><!-- container 
		</section><!-- section  -->

		<!-- ==== TEAM MEMBERS ==== -->

		<!-- <div  id="average" name="average">
			<div id="greywrap">
				
				<div class="row white" >
					<center>
						<div >
							<span class="icon icon-sigma"></span>
							<h2>A look at the average trends.</h2>
							<p>Busiest time of the day, most frequent tip amount, and more.</p> -->
						<!-- </div>
					</center>
					
				</div>
				
			</div>

			<div>
				<img src = "https://raw.githubusercontent.com/TrevorRempel/Data-Incubator/master/Figures/newyorkers.png" />
			</div>

		</div> -->
		<!-- <div class="container" id="team" name="team">
		<br>
			<div class="row white centered">
				<h1 class="centered">MEET OUR AWESOME TEAM</h1>
				<hr>
				<br>
				<br>
				<div class="col-lg-3 centered">
					<img class="img img-circle" src="static/img/team/team01.jpg" height="120px" width="120px" alt="">
					<br>
					<h4><b>Mike Arney</b></h4>
					<a href="#" class="icon icon-twitter"></a>
					<a href="#" class="icon icon-facebook"></a>
					<a href="#" class="icon icon-flickr"></a>
					<p>Mike combines an expert technical knowledge with a real eye for design. Working with clients from a wide range of industries, he fully understands client objectives when working on a project, large or small.</p>
				</div><!-- col-lg-3 
				
				<div class="col-lg-3 centered">
					<img class="img img-circle" src="static/img/team/team02.jpg" height="120px" width="120px" alt="">
					<br>
					<h4><b>Tim Davies</b></h4>
					<a href="#" class="icon icon-twitter"></a>
					<a href="#" class="icon icon-facebook"></a>
					<a href="#" class="icon icon-flickr"></a>
					<p>Tim is an experienced marcoms practitioner and manages projects from inception to delivery. He understands the synergy between great design and commercial effectiveness which shines through on every project.</p>
				</div><!-- col-lg-3 
				
				<div class="col-lg-3 centered">
					<img class="img img-circle" src="static/img/team/team03.jpg" height="120px" width="120px" alt="">
					<br>
					<h4><b>Michele Lampa</b></h4>
					<a href="#" class="icon icon-twitter"></a>
					<a href="#" class="icon icon-facebook"></a>
					<a href="#" class="icon icon-flickr"></a>
					<p>Be a creative director is a hard task, but Michele loves what she does. Her combination of knowledge and expertise is an important pillar in our agency.</p>
				</div><!-- col-lg-3 
				
				<div class="col-lg-3 centered">
					<img class="img img-circle" src="static/img/team/team04.jpg" height="120px" width="120px" alt="">
					<br>
					<h4><b>Jaye Smith</b></h4>
					<a href="#" class="icon icon-twitter"></a>
					<a href="#" class="icon icon-facebook"></a>
					<a href="#" class="icon icon-flickr"></a>
					<p>Jaye began making websites when animated logos and scrolling text were cool, but has since found a love for simplicity, creating websites that are a pleasure to browse. Monkey Island Fan.</p>
				</div><!-- col-lg-3 
				
			</div><!-- row 
		</div><!-- container

		<!-- ==== GREYWRAP ==== -->

		<!-- <div id="greywrap">
			<div class="container">
				<div class="row">
					<div class="col-lg-8 centered">
						<img class="img-responsive" src="static/img/macbook.png" align="">
					</div>
					<div class="col-lg-4">
						<h2>We Are Hiring!</h2>
						<p>Do you want to be one of use? Sure you want, because we are an awesome team!. Here we work hard every day to craft pixel perfect sites.</p>
						<p><a class="btn btn-success">Contact Us</a></p>
					</div>					
				</div><!-- row 
			</div>
			<br>
			<br>
		</div><!-- greywrap  
		<!-- 
		<!-- ==== SECTION DIVIDER3 -->
		<!-- <section class="section-divider textdivider divider3">
			<div class="container">
				<h1>DESIGN SOLVE PROBLEMS</h1>
				<hr>
				<p>From the purely practical to the richly philosophical, design is the solution to a host of challenges.</p>
			</div><!-- container 
		<!-- </section> 
		<!-- ==== PORTFOLIO ==== -->
		<div  id="explain" name="explain">

			<div id="greywrap">
				
				<div class="row white">

					<center>
						<div >
							<span class="icon icon-loop"></span>
								<h2>Clustering Algorithms</h2>
							<p>A brief overview of the clustering algorithm used.</p>
						</div><!-- col-lg-4 -->	
					</center>
					
				</div><!-- row -->
				
			</div><!-- greywrap -->

		</div>

		<div id = "premap2"></div>

    <span>


  	<br>
		<hr>
		<br>
		<div id="map3" style="width: 90%; height: 100% margin: 0 auto;" class = "icon"></div>

          <form id='select-club' method='post' action='club_zipcodes' class = "form-inline">

			    
				<div class="form-group">
				    
				    <!-- <label>Month</label>
				     -->
				      <input class = "form-control" type = "text" id = 'club' name='club' value=""> 
	             </div>	 

				   
				    	<button class="btn btn-default" type='submit' value='Club' >Submit</button>
				
			
                
       
          </form>

      </span>
          
<!--
		<div class="container" id="portfolio" name="portfolio">
		<br>
			<div class="row">
				<br>
				<h1 class="centered">WE CREATE COOL STUFF</h1>
				<hr>
				<br>
				<br>
			</div><!-- /row 
			<div class="container">
			<div class="row">	
			
				<!-- PORTFOLIO IMAGE 1 
				<div class="col-md-4 ">
			    	<div class="grid mask">
						<figure>
							<img class="img-responsive" src="static/img/portfolio/folio01.jpg" alt="">
							<figcaption>
								<h5>DASHBOARD</h5>
								<a data-toggle="modal" href="#myModal" class="btn btn-primary btn-lg">Take a Look</a>
							</figcaption><!-- /figcaption 
						</figure><!-- /figure 
			    	</div><!-- /grid-mask 
				</div><!-- /col
				
				
						 <!-- MODAL SHOW THE PORTFOLIO IMAGE. In this demo, all links point to this modal. You should create
						      a modal for each of your projects. 
						      
						  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						    <div class="modal-dialog">
						      <div class="modal-content">
						        <div class="modal-header">
						          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						          <h4 class="modal-title">Project Title</h4>
						        </div>
						        <div class="modal-body">
						          <p><img class="img-responsive" src="static/img/portfolio/folio01.jpg" alt=""></p>
						          <p>This project was crafted for Some Name corp. Detail here a little about your job requirements and the tools used. Tell about the challenges faced and what you and your team did to solve it.</p>
						          <p><b><a href="#">Visit Site</a></b></p>
						        </div>
						        <div class="modal-footer">
						          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						        </div>
						      </div><!-- /.modal-content
						    </div><!-- /.modal-dialog
						  </div><!-- /.modal -->
				
				
				<!-- PORTFOLIO IMAGE 2 
				<div class="col-md-4">
			    	<div class="grid mask">
						<figure>
							<img class="img-responsive" src="static/img/portfolio/folio02.jpg" alt="">
							<figcaption>
								<h5>UI DESIGN</h5>
								<a data-toggle="modal" href="#myModal" class="btn btn-primary btn-lg">Take a Look</a>
							</figcaption><!-- /figcaption 
						</figure><!-- /figure 
			    	</div><!-- /grid-mask --
				</div><!-- /col -->
				
				<!-- PORTFOLIO IMAGE 3 
				<div class="col-md-4">
			    	<div class="grid mask">
						<figure>
							<img class="img-responsive" src="static/img/portfolio/folio03.jpg" alt="">
							<figcaption>
								<h5>ANDROID PAGE</h5>
								<a data-toggle="modal" href="#myModal" class="btn btn-primary btn-lg">Take a Look</a>
							</figcaption><!-- /figcaption 
						</figure><!-- /figure 
			    	</div><!-- /grid-mask 
				</div><!-- /col 
			</div><!-- /row 

				<!-- PORTFOLIO IMAGE 4 
			<div class="row">	
				<div class="col-md-4 ">
			    	<div class="grid mask">
						<figure>
							<img class="img-responsive" src="static/img/portfolio/folio04.jpg" alt="">
							<figcaption>
								<h5>PROFILE</h5>
								<a data-toggle="modal" href="#myModal" class="btn btn-primary btn-lg">Take a Look</a>
							</figcaption><!-- /figcaption 
						</figure><!-- /figure 
			    	</div><!-- /grid-mask 
				</div><!-- /col 
				
				<!-- PORTFOLIO IMAGE 5 
				<div class="col-md-4">
			    	<div class="grid mask">
						<figure>
							<img class="img-responsive" src="static/img/portfolio/folio05.jpg" alt="">
							<figcaption>
								<h5>TWITTER STATUS</h5>
								<a data-toggle="modal" href="#myModal" class="btn btn-primary btn-lg">Take a Look</a>
							</figcaption><!-- /figcaption 
						</figure><!-- /figure 
			    	</div><!-- /grid-mask 
				</div><!-- /col
			
				<!-- PORTFOLIO IMAGE 6 
				<div class="col-md-4">
			    	<div class="grid mask">
						<figure>
							<img class="img-responsive" src="static/img/portfolio/folio06.jpg" alt="">
							<figcaption>
								<h5>PHONE MOCKUP</h5>
								<a data-toggle="modal" href="#myModal" class="btn btn-primary btn-lg">Take a Look</a>
							</figcaption><!-- /figcaption 
						</figure><!-- /figure 
			    	</div><!-- /grid-mask 
				</div><!-- /col
			</div><!-- /row 
			<br>
			<br>
		</div><!-- /row 
	</div><!-- /container -->

		<!-- ==== SECTION DIVIDER4 ==== -->
		<!-- <section class="section-divider textdivider divider4">
			<div class="container">
				<h1>DESIGN CREATES EMOTIONAL CONNECTION</h1>
				<hr>
				<p>There’s more to design than meets the eye. It’s when it meets the heart that design creates a meaningful, lasting connection with the audience.</p>
			</div><!-- container 
		</section><!-- section 
		
		<!-- ==== BLOG ==== -->
		<!-- <div class="container" id="blog" name="blog">
		<br>
			<div class="row">
				<br>
				<h1 class="centered">WE ARE STORYTELLERS</h1>
				<hr>
				<br>
				<br>
			</div><!-- /row 
			
			<div class="row">
				<div class="col-lg-6 blog-bg">
					<div class="col-lg-4 centered">
					<br>
						<p><img class="img img-circle" src="static/img/team/team04.jpg" width="60px" height="60px"></p>
						<h4>Jaye Smith</h4>
						<h5>Published Aug 30.</h5>
					</div>
					<div class="col-lg-8 blog-content">
						<h2>We Define Success</h2>
						<p>Armed with insight, we embark on designing the right brand experience that engages the audience. It encompasses both the strategic direction and creative execution that solves a business problem and brings the brand to life.</p>
						<p>In the create phase, the big idea is unleashed to the world through different media touchpoints. This is when we watch the audience fall in love all over again with our client’s brand.</p>
						<p><a href="#" class="icon icon-link"> Read More</a></p>
						<br>
					</div>
				</div><!-- /col 
				
				<div class="col-lg-6 blog-bg">
					<div class="col-lg-4 centered">
					<br>
						<p><img class="img img-circle" src="static/img/team/team03.jpg" width="60px" height="60px"></p>
						<h4>Michele Lampa</h4>
						<h5>Published Aug 28.</h5>
					</div>
					<div class="col-lg-8 blog-content">
						<h2>A Beautiful Story</h2>
						<p>Armed with insight, we embark on designing the right brand experience that engages the audience. It encompasses both the strategic direction and creative execution that solves a business problem and brings the brand to life.</p>
						<p>In the create phase, the big idea is unleashed to the world through different media touchpoints. This is when we watch the audience fall in love all over again with our client’s brand.</p>
						<p><a href="#" class="icon icon-link"> Read More</a></p>
						<br>
					</div>
				</div><!-- /col 
			</div><!-- /row 
			<br>
			<br>
		</div> ==== SECTION DIVIDER6 ==== -->
		<section class="section-divider textdivider divider6">

			<div class="container">

				<h1>CRAFTED IN NEW YORK, USA.</h1>

				<hr>
				
			</div><!-- container -->

		</section><!-- section -->
		
		<div class="container" id="contact" name="contact">

			<div class="row">

			<br>

				<h1 class="centered"></h1>
				<hr>
				<br>
				<br>
				
				<div>
				  <center>
				    <h1>Contact Information</h1>
					 <p>
					<!-- <span class="icon icon-home"></span> Some Address 987, NY<br/>
						<span class="icon icon-phone"></span> +34 9884 4893 <br/>
						<span class="icon icon-mobile"></span> +34 59855 9853 <br/> -->
						 <span class="icon icon-envelop"></span> <a href="trevor.rempel@mg.thedataincubator.com"> @mg.thedataincubator.com </a> <br/>
						 <span class="fa fa-linkedin"></span> <a href="https://ca.linkedin.com/in/tjrempel"> tjrempel </a><br/>
						
						 <span class="icon icon-github"></span> <a href="https://github.com/TrevorRempel/"> TrevorRempel </a> <br/>
					 </p>
				  </center>
				</div>		
				
				<!-- div class="col-lg-4">
					<h3>Newsletter</h3>
					<p>Register to our newsletter and be updated with the latests information regarding our services, offers and much more.</p>
					<p>
						<form class="form-horizontal" role="form">
						  <div class="form-group">
						    <label for="inputEmail1" class="col-lg-4 control-label"></label>
						    <div class="col-lg-10">
						      <input type="email" class="form-control" id="inputEmail1" placeholder="Email">
						    </div>
						  </div>
						  <div class="form-group">
						    <label for="text1" class="col-lg-4 control-label"></label>
						    <div class="col-lg-10">
						      <input type="text" class="form-control" id="text1" placeholder="Your Name">
						    </div>
						  </div>
						  <div class="form-group">
						    <div class="col-lg-10">
						      <button type="submit" class="btn btn-success">Sign in</button>
						    </div>
						  </div>
					   </form><!-- form
					</p>
				</div><!-- col --> 
				
				<!-- <div class="col-lg-4">
					<h3>Support Us</h3>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
				</div><!-- col --> 

			</div><!-- row -->
		
		</div><!-- container -->


		<!-- <div id="footerwrap">
			<div class="container">
				<h4>Created by <a href="http://blacktie.co">BlackTie.co</a> - Copyright 2014</h4>
			</div>
		</div> -->

  <script>
      var lat_club = {{lat_club |tojson}};
      var lng_club = {{lng_club |tojson}};
      var club_names = {{club_names |tojson}};

      var club_counts = {{club_counts | tojson}};
      var club_urls = {{club_urls |tojson}};
      var map;
      var map2;
      var map3;
      function initMap() 

      {
      	var nyc_center = new google.maps.LatLng(40.6939206199602,-73.9383529238219);
      	var nyc_center_club = new google.maps.LatLng(40.7439206199602,-73.9383529238219);

      	var options = {

          center: nyc_center,
          zoom: 12,
          scrollwheel: false  
        };

        var options2 = {

          center: nyc_center_club,
          zoom: 12,
          scrollwheel: false  
        };
        var styles = [{"featureType":"all","elementType":"all","stylers":[{"invert_lightness":true},{"saturation":"0"},{"lightness":"33"},{"gamma":0.5},{"hue":"#f7b731"},{"weight":"0.51"}]},{"featureType":"transit.station.rail","elementType":"labels.text","stylers":[{"gamma":"1.00"}]},{"featureType":"transit.station.rail","elementType":"labels.text.fill","stylers":[{"hue":"#ff0000"},{"lightness":"42"}]},{"featureType":"transit.station.rail","elementType":"labels.icon","stylers":[{"hue":"#ff0000"},{"invert_lightness":true},{"lightness":"-15"},{"saturation":"31"}]}];
        
        var image = 
        {
		    url: 'http://maps.google.com/mapfiles/ms/icons/red-dot.png',
		    // This marker is 20 pixels wide by 32 pixels high.
		    size: new google.maps.Size(25, 25),
		    // The origin for this image is (0, 0).
		    origin: new google.maps.Point(0, 0),
		    // The anchor for this image is the base of the flagpole at (0, 32).
		    anchor: new google.maps.Point(0, 32)

		};

		var image_red = 
        {
		    url: 'http://maps.google.com/mapfiles/ms/icons/red-dot.png',
		    // This marker is 20 pixels wide by 32 pixels high.
		    size: new google.maps.Size(15, 15),
		    // The origin for this image is (0, 0).
		    origin: new google.maps.Point(0, 0),
		    // The anchor for this image is the base of the flagpole at (0, 32).
		    anchor: new google.maps.Point(0, 32),

		    scaledSize: new google.maps.Size(15, 15)

		};
		var image_blue = 
        {
		    url: 'http://maps.google.com/mapfiles/ms/icons/blue-dot.png',
		    // This marker is 20 pixels wide by 32 pixels high.
		    size: new google.maps.Size(15, 15),
		    // The origin for this image is (0, 0).
		    origin: new google.maps.Point(0, 0),
		    // The anchor for this image is the base of the flagpole at (0, 32).
		    anchor: new google.maps.Point(0, 32),

		    scaledSize: new google.maps.Size(15, 15)

		};

		

        map = new google.maps.Map(document.getElementById('map'), options);
        map.set('styles', styles);

        map2 = new google.maps.Map(document.getElementById('map2'), options2);
        map2.set('styles',styles);

        map3 = new google.maps.Map(document.getElementById('map3'), options2);
        map3.set('styles',styles);
      
 
        
        
       


    	

    	var infowindow_club = new google.maps.InfoWindow();
    	for (i = 0; i < club_counts.length; i++)

        {
        	
        	var position = new google.maps.LatLng(Number(lat_club[i]),Number(lng_club[i]));
        	var service = new google.maps.places.PlacesService(map2);
        	var circ = new google.maps.Circle({
		          	clickable: true,
		            strokeColor: '#FF0000',
		            strokeOpacity: 0.8,
		            strokeWeight: 0,
		            fillColor: '#FF0000',
		            fillOpacity: 0.50,
		            map: map2,
		            center: position,
		            radius: Number(club_counts[i]) * 300,
		          });
        	
								// '&nbsp; &nbsp; ' + place.rating 
	       //                      + '</h5><p>' + place.formatted_address + '<br />' + place.formatted_phone_number + '<br />' + 
        	// window.alert( place["name"])
        	circ.content = '<a  target="_blank" href=' + club_urls[i] + '>' + club_names[i] + '</a>';
        	// + '<a  target="_blank" href=' + web[i] + '>' + web[i] + '</a></p>';
        	
	        google.maps.event.addListener(circ, 'click', function() {
	              infowindow_club.setPosition(this.getCenter());
	              infowindow_club.setContent(this.content);
	              infowindow_club.open(map2, this);
	            });

	        
           // var title = i.toString()
          	
          	//var marker = new google.maps.Marker({position:position, icon:image2,map:map2});
            // Add the circle for this city to the map.
        };

        var infowindow_club2 = new google.maps.InfoWindow();
        var clicked = new google.maps.Marker({customInfo:"not clicked"});
    	for (i = 0; i < club_counts.length; i++)

        {

        	var position = new google.maps.LatLng(Number(lat_club[i]),Number(lng_club[i]));

        	var marker = new google.maps.Marker({
	          position: position,
	          map: map3,
	          icon: image_red,
	          clickable:true,
	          customInfo: '<a  target="_blank" href=' + club_urls[i] + '>' + club_names[i] + '</a>',
	          title: club_names[i]
        		});

        	
        	
	        google.maps.event.addListener(marker, 'mouseover', function() {
	              infowindow_club2.setPosition(this.position);
	              infowindow_club2.setContent(this.customInfo);
	              infowindow_club2.open(map3, this);
	              // this.setIcon(image_blue);
	            });
			google.maps.event.addListener(marker, 'click', function() {
				  if (clicked.customInfo !="not clicked" && clicked != this){
				  clicked.setIcon(image_red)
				  }	
	              this.setIcon(image_blue);
	              clicked = this;
	              document.getElementById('club').value = clicked.title;

	            });	     

			
	      };
          };

    </script>

    <script async defer src={{src|safe}} > </script>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
		

	<script type="text/javascript" src="static/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="static/js/retina.js"></script>
	<script type="text/javascript" src="static/js/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="static/js/smoothscroll.js"></script>
	<script type="text/javascript" src="static/js/jquery-func.js"></script>

  </body>

</html>
